# =========================
# 🔹 Arquivos temporários
# =========================
*.log
*.tmp
*.swp
*.swo
*~

.cache/
**/cache/
**/Cache/
**/Code Cache/
**/GPUCache/
**/DawnGraphiteCache/
**/DawnWebGPUCache/

**/Session Storage/
**/SharedStorage/
**/Trust Tokens/

.config/mozilla/
.config/zen/
.config/hydralauncher/

.config/gtk-4.0/assets/
.config/gtk-4.0/*.cache

.config/micro
.config/micro

.config/pulse/cookie

.config/waybar/*.log

.config/xfce4/**/Thunar/*.history
.config/xfce4/**/Thunar/*.tmp

yay/

.config/dconf/

*.db
*.sqlite
*.bak
