*.log
*.tmp
*.cache
.cache/
**/Cache/
**/Code Cache/
**/GPUCache/
**/DawnGraphiteCache/
**/DawnWebGPUCache/
**/Session Storage/
**/SharedStorage/
**/Trust Tokens/

mozilla/firefox/*/storage/
mozilla/firefox/*/cache2/
mozilla/firefox/*/crashes/
mozilla/firefox/*/minidumps/

zen/*/storage/
zen/*/cache2/
zen/*/crashes/

.config/hydralauncher/Cache/
.config/hydralauncher/Code Cache/
.config/hydralauncher/GPUCache/
.config/hydralauncher/DawnGraphiteCache/
.config/hydralauncher/DawnWebGPUCache/
.config/hydralauncher/logs/

gtk-4.0/assets/
gtk-4.0/*.cache

micro/backups/
micro/buffers/
yay/
pulse/cookie

waybar/*.log

xfce4/**/Thunar/*.history
xfce4/**/Thunar/*.tmp

*.swp
*.swo
*~
